.torch {
    position: absolute;
    bottom: 450px;
    left: 400px;
    transform-origin: 50px 0px;
  }
  
  .torch .arm {
    position: absolute;
    bottom: 0px;
    left: 45px;
    margin: 0;
    padding: 0;
    height: 380px;
    width: 10px;
    background-color: black;
    z-index: 100;
  }
  
  .torch img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    z-index: 200;
  }
  