.torch {
    position: absolute;
    bottom: 450px;
    left: 399px;
    transform-origin: 51px 0px;
  }
  
  .torch .arm {
    position: absolute;
    bottom: 0px;
    left: 46px;
    margin: 0;
    padding: 0;
    height: 380px;
    width: 7px;
    background-color:#222222;
    z-index: 100;
  }
  
  .torch img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 110px;
    z-index: 200;
  }
  