.app {
  position: relative;
  display: flex;
  z-index: 0;
}

.wheel {
  min-height: 900px;
  min-width: 900px;
  height: 900px;
  width: 900px;
  max-height: 900px;
  max-width: 900px;
}

.wheel-control {
  padding-top: 100px;
}

.wheel-control h3, .wheel-control button {
    width: 250px;
    height: 40px;
    text-align: center;
}

.wheel-control tbody td {
  width: 50px;
  text-align: center;
}